%div{:class => "span-12", :style => "background-color:#ffffee"}
  %p.caps
    Searches
  %form{:action => "/search", :method => "post"}
    %h3 Step 2 - Create a new search:
    %p
      %label{:for => "search"} Query:
      %input.hidden{:type => "hidden", :name => "project_id", :title => "project_id", :id => "project_id", :value => "#{@project.id}"}
      %input.query{:type => "text", :name => "query", :size => "32", :maxlength => "2048", :title => "query", :id => "query"}
      %input.create{:type => "submit", :name => "create", :id => "create", :value => "Create Search"}
  - if @searches.length > 0 && @searches != nil
    %ul
      - @searches.each do |search|
        %li
          %a{:href=>"/projects/#{CGI::escape(@project.name)}/searches/#{CGI::escape(search.query)}"} #{search.query}

%div{:class => "span-12 last", :style => "background-color:#ffffee"}
  %p.caps
    Project tags
  %ul
    - @searches.each do |search|
      - search.links.each do |link|
        - if link.entities != nil
          - link.entities.each do |entity|
            - entity.each do |k,v|
              %li
                "#{k} | #{v}"
