%div{:class => "span-12", :style => "background-color:#ffffee"}
  %p.caps
    Search results
  %h3 Step 3 - Generate tags from the snippets which are most relevant.
  - if @search.links.length > 0
    %ul
      - @search.links.each do |link|
        %a{:href=> "#{link.url}"} link
        %a{:href=> "#{link.url}"} delete
        %li.link
          %form{:action => "/link/update/#{link.id}", :method => "post"}
            %textarea.summary{:rows => "5", :cols => "30", :name => "summary", :id => "summary" }
              = "#{link.title}. #{link.description}"
            %br
            %input.create{:type => "submit", :name => "create", :id => "create", :value => "Generate tags"}
          %hr

%div{:class => "span-12 last", :style => "background-color:#ffffee"}
  %p.caps
    Search tags
  %ul
    - @search.links.each do |link|
      - link.entities.each do |category,values|
        %li
          = category
          %ul
            - values.each do |value|
              %li
                = value
