.span-18
  = haml :_user, :layout => false
  %h3 
    Search: #{@search.query}
    %a{:href => "/projects/#{@project.id}/searches/#{@search.id}/delete"} (delete) 
    TODO - add search timestamps here
  - if @search.links.length > 0
    %ul
      - @search.links.each do |link|
        %li.link
          %a{:href=>"/projects/#{@project.id}/searches/#{@search.id}/link/#{link.id}"} #{link.url}
          .blockquote
            %p #{link.description}
  